<a href="https://colab.research.google.com/github/Shivam-tech9696/Spam_mail_prediction/blob/main/Spam_mail_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING THE DEPENDENCIES**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

**data collection and preprocessing**

In [ ]:

#loading the data_set from csv file to a pandas dataframe

In [ ]:
spam_ham_mail = pd.read_csv('/content/spam_ham_dataset.csv')

In [ ]:
spam_ham_mail.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [ ]:
spam_ham_mail.tail()

,Unnamed: 0,label,text,label_num
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [ ]:
spam_ham_mail.describe()

        Unnamed: 0    label_num
count  5171.000000  5171.000000
mean   2585.000000     0.289886
std    1492.883452     0.453753
min       0.000000     0.000000
25%    1292.500000     0.000000
50%    2585.000000     0.000000
75%    3877.500000     1.000000
max    5170.000000     1.000000

**replace the null values witha null string**

In [ ]:
spam_ham_mail = spam_ham_mail.where(pd.notnull(spam_ham_mail),'')

In [ ]:
print(spam_ham_mail)

      Unnamed: 0 label                                               text  \
0            605   ham  Subject: enron methanol ; meter # : 988291\r\n...
1           2349   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2           3624   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3           4685  spam  Subject: photoshop , windows , office . cheap ...
4           2030   ham  Subject: re : indian springs\r\nthis deal is t...
...          ...   ...                                                ...
5166        1518   ham  Subject: put the 10 on the ft\r\nthe transport...
5167         404   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168        2933   ham  Subject: calpine daily gas nomination\r\n>\r\n...
5169        1409   ham  Subject: industrial worksheets for august 2000...
5170        4807  spam  Subject: important online banking alert\r\ndea...

      label_num
0             0
1             0
2             0
3             1
4             0
...         ...
5166          0
5167          0
5168          0
5169          0
5170          1

[5171 rows x 4 columns]

In [ ]:
spam_ham_mail.shape

(5171, 4)

**Label Encoding**

replace **SPAM** as **0**   and   **HAM** as **1**

In [ ]:
#as there is no need to convert spam and ham as 0 and 1 respectively
#spam_ham_mail.loc[spam_ham_mail['label'] == 'spam', 'label',] = 0
#spam_ham_mail.loc[spam_ham_mail['label'] == 'ham', 'label',] = 1

In [ ]:
#give the value as 
#"X to messages and Y to label"
X = spam_ham_mail['text']

Y = spam_ham_mail['label_num']

In [ ]:
print(X.head)

<bound method NDFrame.head of 0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object>

In [ ]:
print(Y.head)

<bound method NDFrame.head of 0       0
1       0
2       0
3       1
4       0
       ..
5166    0
5167    0
5168    0
5169    0
5170    1
Name: label_num, Length: 5171, dtype: int64>

Splitting the data into Train and Test data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split( X, Y ,test_size= 0.5, random_state= 3)

In [ ]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5171,)
(2585,)
(2586,)

transforming the text data into feature data that can be used as input as to logistic regression

In [ ]:
feature_extraction = TfidfVectorizer(min_df = 2 , stop_words='english', lowercase= 'true')

X_train_feature = feature_extraction.fit_transform(X_train)
X_test_feature = feature_extraction.transform(X_test)

#convert the Y_train and Y_test values as integers 

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [ ]:
print(X_train_feature)

  (0, 6105)	0.06348484450094763
  (0, 6982)	0.07821626595714944
  (0, 7296)	0.11024888631206314
  (0, 625)	0.09121035125324149
  (0, 92)	0.0504344265484462
  (0, 12280)	0.08639968978402773
  (0, 11232)	0.06437744551988142
  (0, 8639)	0.0646843396874597
  (0, 9360)	0.07391598610675741
  (0, 10319)	0.0606490915596899
  (0, 7888)	0.0498855496835396
  (0, 8071)	0.053921516535339546
  (0, 11450)	0.06823879275342278
  (0, 4660)	0.05169953660326959
  (0, 5657)	0.09214224148777476
  (0, 3521)	0.15674435128956174
  (0, 12683)	0.06998693204303688
  (0, 2815)	0.11107499616626473
  (0, 6988)	0.12724230509299264
  (0, 8652)	0.0881317242462967
  (0, 12463)	0.14069674362803103
  (0, 8249)	0.08052193180817473
  (0, 11519)	0.08069759501386878
  (0, 6512)	0.08547519831144891
  (0, 3426)	0.046976027121708626
  :	:
  (2584, 7199)	0.08856811981159075
  (2584, 4828)	0.09031286473464208
  (2584, 11459)	0.06462328450276135
  (2584, 1831)	0.09232702493118695
  (2584, 4911)	0.07951133548215653
  (2584, 8277)	0.06361769785264246
  (2584, 7260)	0.07129782294733804
  (2584, 13053)	0.08327024060175274
  (2584, 5180)	0.10138380926062118
  (2584, 3183)	0.07316760401918297
  (2584, 5453)	0.09762490414102498
  (2584, 4865)	0.07797236139191471
  (2584, 12821)	0.06488725666939073
  (2584, 3371)	0.09762490414102498
  (2584, 1759)	0.09031286473464208
  (2584, 7026)	0.09762490414102498
  (2584, 8959)	0.07726590946356507
  (2584, 8405)	0.0947092708160445
  (2584, 8199)	0.15902267096431305
  (2584, 1958)	0.09031286473464208
  (2584, 11817)	0.05694315940806578
  (2584, 5537)	0.04318251533343975
  (2584, 6780)	0.06928366275079315
  (2584, 8639)	0.043541922059069676
  (2584, 11898)	0.013066177838475631

**Training the Machine Learning Model or Logistic Regression Model**

In [ ]:
model = LogisticRegression()
#traininig the model with Logistic Regression
model.fit(X_train_faeture, Y_train)

LogisticRegression()

evaluating the trained Model

or prediction on trained data

In [ ]:
prediction_on_training_data = model.predict(X_train_feature)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [ ]:
print('accuracy on training data =', accuracy_on_training_data)

accuracy on training data = 0.9969052224371373

In [ ]:
#Predict using test data
prediction_on_test_data = model.predict(X_test_feature)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)

In [ ]:
print('accuracy on test data',accuracy_on_test_data )

accuracy on test data 0.9849187935034803

**Building a predictive System**

In [ ]:
input_mail = ["neon retreat ho ho ho , we're around to that most wonderful time of the year - - - neon leaders retreat time" ]
input_data_feature = feature_extraction.transform(input_mail)

#now making prediction 
prediction = model.predict(input_data_feature)
print(prediction)

[0]

**0** here shows that's it's a spaam mail